@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* font-family: "Cairo", sans-serif;
  font-family: "Abhaya Libre", serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif; */
}
